[Unit]
Description=Restart Ineligible Ocean Nodes

[Service]
Type=simple
ExecStart=/usr/bin/python3 /root/restart_ineligible.py
TimeoutStartSec=10220

[Install]
WantedBy=multi-user.target
