[Unit]
Description=Restart Missing Ocean Nodes

[Service]
Type=simple
ExecStart=/usr/bin/python3 /root/restart_missing.py
TimeoutStartSec=10220

[Install]
WantedBy=multi-user.target
